name: Deploy to Droplet

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/tryhackme-api:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/tryhackme-api:latest
  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install SSH client
      run: sudo apt-get install openssh-client -y

    - name: SSH to Droplet and deploy
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.DROPLET_IP }}
        username: ${{ secrets.DROPLET_USER }}
        password: ${{ secrets.DROPLET_PASSWORD }}
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/tryhackme-api:latest
          docker stop tryhackme-api || true
          docker rm tryhackme-api || true
          docker run -d --name tryhackme-api -p 8000:8000 --env-file /home/notsooshariff/tryhackme-api/.env ${{ secrets.DOCKER_USERNAME }}/tryhackme-api:latest
