name: Deploy to Droplet

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install SSH client
      run: sudo apt-get install openssh-client -y

    - name: SSH to Droplet and deploy
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.DROPLET_IP }}
        username: ${{ secrets.DROPLET_USER }}
        password: ${{ secrets.DROPLET_PASSWORD }}
        script: |
          cd /home/notsooshariff/tryhackme-api
          git pull
          source venv/bin/activate
          pkill -f "uvicorn src.main:app"
          nohup uvicorn src.main:app --host 0.0.0.0 --port 8000 &
